<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>
    <!-- https://www.mkyong.com/spring-boot/spring-boot-hello-world-example-thymeleaf/ -->
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>
<main role="main" class="container">


    <form action="#" th:object="${pizza}" method="post">

        <input type="hidden" th:field="*{id}" id="id" placeholder="price">

        <label for="price">Price</label>
        <input type="number" th:field="*{price}" id="price" placeholder="price">
        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
        <br>

        <label for="size">Size</label>
        <input type="number" th:field="*{size}" id="size" placeholder="size">
        <span th:if="${#fields.hasErrors('size')}" th:errors="*{size}"></span>
        <br>

        <label for="info">info</label>
        <input type="text" th:field="*{info}" id="info" placeholder="info">
        <br>
        <input type="submit" value="Add Pizza">

    </form>
    <a href="/pizza/">home</a>


</main>
<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>