<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>
    <!-- https://www.mkyong.com/spring-boot/spring-boot-hello-world-example-thymeleaf/ -->
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>
<main role="main" class="container">

    <div class="starter-template">
        <span th:text="${username}">User is logged in: </span> <a href="/logout">Logout</a>
    </div>


    <form method="post">
        INFO:
        <input name="info"><br>
        SIZE:
        <input name="size" type="number"><br>
        NUMBER:
        <input name="price" type="number">
        <br>
        <input type="submit">
    </form>

    <a href="/pizza/">home</a>


</main>
<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>