<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h2>Drinks</h2>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Price</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="drink : ${drinks}">
            <td th:text="${drink.id}"></td>
            <td th:text="${drink.price}"></td>
            <td th:text="${drink.name}"></td>
            <td><a th:href="@{edit/{id}(id=${drink.id})}">Edit</a></td>
            <td><a th:href="@{delete/{id}(id=${drink.id})}">Delete</a></td>
        </tr>
        </tbody>
    </table>

    <a href="add">Add Drink</a>
</body>

</html>