<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>


    <link th:insert="snippets/header.html :: links"></linkth:insert>

</head>

<body>
<main role="main" class="container">

    <header th:insert="snippets/header.html :: header"></header>

    <div class="col-md-4" style="margin-top: 30px;">
    <form th:object="${pizza}" method="post">

        <input type="hidden" th:field="*{id}" id="id" placeholder="price">

        <label for="price">Price</label>
        <input type="number" th:field="*{price}" id="price" placeholder="price">
        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
        <br>

        <label for="size">Size</label>
        <input type="number" th:field="*{size}" id="size" placeholder="size">
        <span th:if="${#fields.hasErrors('size')}" th:errors="*{size}"></span>
        <br>

        <label for="info">info</label>
        <input type="text" th:field="*{info}" id="info" placeholder="info">
        <br>
        <input type="submit" value="Add Pizza">

    </form>
    </div>
</main>
</body>
</html>